<contents-main>

  <p>
    これは semantic-ui-riot と Typescript のサンプルです
  </p>

  <script type="ts">
    import {RiotComponentExport} from 'riot'

    function Main(): RiotComponentExport<{}, {}> {
        return {}
    }
    export default Main
  </script>
</contents-main>